body {
    background-color: #070606;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
}
/* Add Popup */
.add-popup {
    margin: 0 auto;
    text-align: center;
    margin-top: 180px;
    border: 1px solid #ff2439;
    background-color: #FFF;
    color: #e74c3c;
    padding: 5px 90px;
    width: 280px;
    border-radius: 10px;
}

.add-popup p {
    font-size: 25px;
}

.title-field {
    display: block;
    border: 1px solid #ff2439;
    border-radius: 5px;
    height: 35px;
    width: 280px;
}

.button {
    margin: 15px 10px;
    cursor: pointer;
    background-color: #ff2439;
    padding: 8px 25px;
    border-radius: 19px;
    outline: 0;
    border: none;
    color: #FFF;
    font-size: 23px;
}

.button a {
    text-decoration: none;
    color: #FFF;
}
