body {
    background-color: #070606;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
}
/* Task Card */
.task-card {
    height: 350px;
    width: 250px;
    background-color: #FFF;
    margin: 150px auto;
    color: #ff2439;
    border-radius: 10px;
    border: 1px solid #ff2439;
}

.task-content {
    /* padding: 3px 0; */
    text-align: center;
    font-size: 21px;
}

.task-content-horizontal {
    color: #000;
}

.card-crud {
    height: 250px;
    margin-right: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.card-crud i {
    cursor: pointer;
    margin: 0 5px;
    font-size: 26px;
}

.content-add-icon {
    color: #2222e0ad;
}
